<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7526610556-299kl88sahe2ni1lqfi1bsgbti10colt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7526610556-299kl88sahe2ni1lqfi1bsgbti10colt</string>
	<key>API_KEY</key>
	<string>AIzaSyDrh9oM3jxZWkcUi8iIBNGPLUTqFW9WIKs</string>
	<key>GCM_SENDER_ID</key>
	<string>7526610556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amin.iSSLocation</string>
	<key>PROJECT_ID</key>
	<string>astrotrack-25fe3</string>
	<key>STORAGE_BUCKET</key>
	<string>astrotrack-25fe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7526610556:ios:e26b715b118ad44e423bf9</string>
</dict>
</plist>